@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@*<style>
    .box-shadow {
        box-shadow: 0 .25rem .75rem rgba(30, 130, 70, .05);
    }
</style>*@
<div class="text-center">
    <h1 class="display-4">MegaDesk</h1>
    <p>All in one solution for designing and ordering desks.</p>
    <img src="https://i.pinimg.com/originals/df/90/96/df9096af4efe3a6319e82f2058acd054.png" alt="MegaDesk from the office">
</div>
